{{ define "head" }}
<title>{{.Title}} - {{.Site.Title}}</title>
<meta property="og:image" content="{{.Params.image | absURL}}">
<meta name="description" content="{{.Description}}">
{{ end }}

{{ define "main" }}
<div class="breadcrumb">&nbsp;</div>

<div class="section talk">
  <div class="photo">
      <img src="{{.Params.image}}">      
  </div>
  <div class="text">
    <h1> {{.Title}}</h1>
    <p>{{.Description}}</p>
    <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3152.3731515916334!2d144.96076071614345!3d-37.80472777975396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642cd1197ecb3%3A0x9de796ef333daac5!2sQueensberry+Hotel!5e0!3m2!1sen!2sau!4v1563710229117!5m2!1sen!2sau" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></p>
    <a class="button" href="/#agenda">Back to the agenda</a>
  </div>
</div>
{{ end }}
